.CartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .h2NameCarrito {
        padding: 30px;
    }
    .emptyCartMessage{
        text-align: center;
        h4{
            padding: 20px;
        }
    }
    .cartItemsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    
    .cartItem {
        border: solid 1px black;
        border-radius: 5px;
        width: calc((100% / 3) - 20px); 
        min-width: 150px;
        min-height: 200px;
        margin-bottom: 20px;
    

        h3 {
            padding: 20px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        p {
            padding: 20px;
            margin-bottom: 10px;
            .total{
                font-size: 30px;
            }
        }

        .clear1ItemButton {
            width: 60%;
            font-size: 14px;
            text-align: center;
            background-color: #050e6b;
            color: white;
            border: none;
            padding: 5px 2px;
            border-radius: 3px;
            cursor: pointer;
            margin:20px auto;

            &:hover {
                background-color: #d50000;
            }
        }
    }

    .clearCartButton {
        background-color: #650f03;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 2px;
        margin-left: 75%; 

        &:hover {
            background-color: #a1170d;
        }
    }
}
