.navBar {
    display: flex;
    justify-content: space-between;
    height: 240px;
    margin: 20px;
    box-shadow: -4px 2px 40px 0px rgba(171,165,165,0.75);
    padding: 15px 30px;
    border-radius: 8px;

    .logoAndButtons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .logoPrincipalAux24 {
            width: 300px;
            height: 200px;
            border: solid 2px black;
            border-radius: 5px;
        }

        .misEstilosdeButtonNavLink {
            display: flex; 
            justify-content: space-between;
            height: 40%;
            width: 17.5%;

            .button-text {
                display: flex;
                justify-content: center;
                background: linear-gradient(to top, rgb(56, 56, 56), rgb(130, 129, 129));
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 110%;
                padding: 20px;
                border: solid #454444 1px;
                border-radius: 3px;
                align-items: center;
                white-space: pre-line;
                flex-grow: 1;
                
            }

            .ActiveOption {
                color: rgb(26, 26, 1);
            }
        }
    }
}

